#won, #lost {
  display: none;
}
#word, #letters {
  padding: 20px 0px;
  color: red;
  border-color: green;
}
#man {
  margin: 20px auto;
  width: 600px;
  height: 600px;
  border: solid;
  border-radius: 5px;
  border-width: 1px;
}
#word {
  font-size: 1.8em;
}
.hint {
  font-size: 10pt !important;
  color: blue;
}
.btn {
  padding: 7px 7px !important;
  margin: 0px 2px;
  color: red;
  background-color: blue;
  border-color: black;
}
.btn-success {
  color: red;
  background-color: blue;
  border-color: black;
}