#won, #lost {
  display: none;
}
#word, #letters {
  -webkit-text-stroke: 1px black;
   color: white;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}
#man {
  margin: 20px auto;
  width: 600px;
  height: 600px;
  border: solid;
  border-radius: 5px;
  border-width: 1px;
}
#word {
  font-size: 1.8em;
}
.hint {
  font-size: 10pt !important;
  color: blue;
}
.btn, #letterBtn {
  padding: 7px 7px !important;
  margin: 0px 2px;
  color: black;
  background-color: #E79956;
}
.btn-success {
  color: red;
  background-color: blue;
  border-color: black;
}
#bg {
  background-color: #56A4E7;
}
h1 {
  font-size: 25px;
  -webkit-text-stroke: 1px black;
  color: white;
}